/*CSS styles for various components of the React App "Face Recognition".*/
/*by Krishan Naidoo.*/

.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

/*Animated background on webpages of React App "Face Recognition"*/
/*Make full screen and fixed when scrolling*/
/*index -1 so that particles are behind all other page content*/
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}