body {
	background: url(../Images/McLaren_F1_LM_01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	color: yellow ;
}

li {
	color: white;
}

.learnLi {
	color: yellow;
}

#specialLi {
	color: gold;
}

input:checked+h4 {
	text-decoration: line-through;
}